.App {
  text-align: center;
}

.App-header {
  background-color: #1595bd;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}

.Header-logo {
  height: 100px;
  width: 100px;
  margin: 50px;
}

