/*Home*/
.home-frame {
  flex-grow: 1;
  padding: 10px;
  height: 100vh;
  overflow: auto;
}
.home-content {
  display: flex;
  margin-top: 65px;
  flex-flow: column wrap;
}

/*Calendar*/
.calendar{
  height: 90vh;
  width: 100%;
}
.contact-container {
  min-width: 220px;
  margin: 2px;
  display: inline-block;
  padding: 8px;
}
.page-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.form-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.multi-container {
  width: 100%;
  display: flex;
}

/*Simple Paper*/
.simple-paper {
  width: 280px;
  min-height: 155px;
  padding: 8px;
  margin: 4px;
}
.simple-paper h2{
  margin: 5px;
}
.simple-paper h3{
  margin: 12px 5px;
}
.simple-paper p{
  margin: 12px 5px;
}
.simple-paper small{
  font-size: 0.7em;
  padding-top: 12px;
}

/*Wide Paper*/
.wide-paper {
  width: 100%;
  padding: 4px;
  margin: 4px;
  min-width: 275px;
}
.wide-paper h2{
  margin: 5px;
}
.wide-paper h3{
  margin: 12px 5px;
}
.wide-paper p{
  margin: 12px 5px;
}

/*Mid Paper*/
.mid-paper {
  width: 44vw;
  min-width: 275px;
  padding: 4px;
  margin: 4px;
}
.mid-paper h2{
  margin: 5px;
}
.mid-paper h3{
  margin: 12px 5px;
}
.mid-paper p{
  margin: 12px 5px;
}
.mid-paper button{
  margin: 12px 5px;
}

/*Mid Paper*/
.mid-paper-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.mid-paper-button {
  width: 100%;
  height: 40px;
  font-size: 0.9em;
  background-color: white;
  border: 2px solid rgb(21, 149, 189);
  border-radius: 10px;
  outline: none;
}

.small-paper {
  display: flex;
  padding: 8px;
  margin: 4px;
  min-width: 275px;
  flex-direction: column;
  align-items: center
}

/*Modal*/
.modal-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.modal-button {
  font-size: 1.2em;
  color: white;
  background-color: palevioletred;
  padding: 8px;
  margin: 4px;
  border-radius: 10px;
  outline: none;
}

/*TreatmentMenu*/
.lateral-paper {
  width: 98%;
  max-width: 385px;
  display: table-cell;
  text-align: center;
  padding: 12px;
  margin: 4px;
  float: left;
}
.side-content {
  display: table-cell;
}
.menu-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.menu-button {
  width: 285px;
  min-height: 120px;
  margin: 6px;
  padding: 35px 0;
  text-align: center;
}
.treatment-item {
  padding: 8px;
}
.finish-treatment-button{
  height: 40px;
  font-size: 0.9em;
  background-color: white;
  border: 2px solid rgb(21, 149, 189);
  border-radius: 10px;
  outline: none;
  margin: 12px;
}
.remove-treatment-button{
  width: 30px;
  height: 30px;
  margin: 12px;
  border-radius: 50px;
  background: white;
  font-size: 1.2em;
  outline: none;
}

